#left-column{
    width: 200px;
    height: 1180px;
    background-color: rgb(255, 255, 255);
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
/* #left-column{
    content: "";
    display: block;
    border-bottom: 1px solid black;
    margin: 20px 0;
    position: absolute;
    bottom: 5px;
} */
