#small-box{
    width: 1220px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    float: right;
    background-color: bisque;
    outline: 3px solid black;
}
#name{
    position: absolute;
    top: 100px;
    left: 298px;
    display: flex;
    font-family: 'Comfortaa', cursive;
}
#date{
    position: absolute;
    top: 100px;
    left: 535px;
    display: flex;
    font-family: 'Comfortaa', cursive;
}
#place{
    position: absolute;
    top: 100px;
    left: 775px;
    display: flex;
    font-family: 'Comfortaa', cursive;
}
#issue{
    position: absolute;
    top: 100px;
    left: 1010px;
    display: flex;
    font-family: 'Comfortaa', cursive;
}